h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-shadow: 10px 10px cornsilk;
    font-size: 100px;
    margin-bottom: 5000px;
    margin-right: 10px;
    margin-left: 1px;
    position: fixed;

}

nav {
    font-size: 15px;
    color: black;
    background-color: cornsilk;
    border: solid 3px black;
    padding: 1px;
    margin: 10px;
    margin-left: 125px;
}

button {
    padding: 5px;
    margin: 5px;
    width: 250px;
    text-align: center;


}

.pictures {
    box-shadow: 10px 10px cornsilk;
}

li {
    display: inline;
    padding: 100px;
    padding-left: 1px;
    margin-left: 1px;
    font-weight: 800;
}



#golden {
    width: 1000px;
    height: 700px;
    margin-left: 125px;

}

#sharpei {
    width: 1000px;
    height: 700px;
    margin-left: 125px;
}

body {
    font-family: helvetica;
    color: black;
    padding: 20px;
    background-color: blanchedalmond;
    padding: <10px> | <50%>;
}

p {
    margin-left: 200px;
    font-size: 16px;
    font: bold;



}

