h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-shadow: 10px 10px cornsilk;
    font-size: 100px;
    margin-bottom: 5000px;
    margin-right: 10px;
    margin-left: 1px;
    position: fixed;

}

nav {
    font-size: 15px;
    background-color: cornsilk;
    display: flex;
    border: solid 0.5px black;
    padding: 1px;
    margin: 10px;
    margin-left: 1px;

}

li {
    display: inline;
    padding: 100px;
    padding-left: 1px;
    margin-left: 1px;
    font-weight: 800;

}

#golden {
    width: 1000px;
    height: 700px;
}

#sharpei {
    width: 1000px;
    height: 700px;
}

body {
    font-family: helvetica;
    color: black;
    padding: 20px;
    background-color: blanchedalmond;
    padding: <10px> | <50%>}
}

